
<div class = "alert alert-primary" role = "alert">
    <table class = "table table-bordered">
        <thead>
            <tr>
                <th scope = "row" colspan = "3" class = "text-center">CARRITO</th>
            </tr>
                <tr>
                    <th scope = "col">NOMBRE</th>
                    <th scope = "col">PRECIO</th>
                    <th scope = "col">CANTIDAD</th>

                </tr>
        </thead>
        <tbody>
            {% if request.session.cart.items %}
            {% for key, value in request.session.cart.items %}
                <tr>
                    <td>{{value.name}}</td>
                    <td>{{value.price}}</td>
                    <td>{{value.quantity}}

                        <a href = "{url 'addCart' value.product_id}" class = "badge btn-dark badge btn-dark">+</a>
                        <a href = "{url 'decrementCart' value.product_id}" class = "badge btn-dark badge btn-dark">-</a>
                        
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">
                        <div class = "alert alert-danger text-center"> Sin productos </div>
                    </td>
                </tr>
            {% endif %}
                <tr>
                    <th scope = "row">Total:</th>
                    <td colspan = "2" >${{totalCart}}</td>
                </tr>
        </tbody>
    </table>
    <hr>
</div>
<div class = "row text-center">
    <div class = "col-6"><a href = "{% url 'clearCart' %}" class = "btn-danger" >Limpiar</a></div>
    <div class = "col-6"><a href = "#" class = "btn-danger" >Comprar</a></div>
</div>