{% extends './base.html' %}


{% load static %}


{% block body %}

<div class="container mt-4 d-flex mb-5">
    <div class = "row">
        {% for product in products %}
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img src="{{product.image.url}}" class="card-img-top w-100" alt="">
                        <div class="card-body">
                            <h2 class="card-title"> {{product.name}} </h2>
                                <div class="d-flex justify-content-between">
                                    <p class="card-text">{{product.detail}}</p>
                                    <P class="card-text mr-4 text-success">${{product.prices}}</P>
                                </div>
                            <a href = "/addCart/{{product.slug}}" type="button" class="btn btn-success d-flex">Comprar</a>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}